[submodule "roles/ansible-role-cleaning-amazon-linux"]
	path = roles/ansible-role-cleaning-amazon-linux
	url = git@github.com:yukihiko-shinoda/ansible-role-cleaning-amazon-linux.git
[submodule "roles/ansible-role-simulate-amazon-linux-centos"]
	path = roles/ansible-role-simulate-amazon-linux-centos
	url = git@github.com:yukihiko-shinoda/ansible-role-simulate-amazon-linux-centos.git
[submodule "roles/ansible-role-heroku-cli-amazon-linux"]
	path = roles/ansible-role-heroku-cli-amazon-linux
	url = git@github.com:yukihiko-shinoda/ansible-role-heroku-cli-amazon-linux.git
[submodule "roles/ansible-role-apache2.4-amazon-linux"]
	path = roles/ansible-role-apache2.4-amazon-linux
	url = git@github.com:yukihiko-shinoda/ansible-role-apache2.4-amazon-linux.git
[submodule "roles/ansible-role-fastest-mirror"]
	path = roles/ansible-role-fastest-mirror
	url = git@github.com:yukihiko-shinoda/ansible-role-fastest-mirror.git
[submodule "roles/ansible-role-epel-fedora"]
	path = roles/ansible-role-epel-fedora
	url = git@github.com:yukihiko-shinoda/ansible-role-epel-fedora.git
[submodule "roles/ansible-role-ius-fedora"]
	path = roles/ansible-role-ius-fedora
	url = git@github.com:yukihiko-shinoda/ansible-role-ius-fedora.git
[submodule "roles/ansible-role-php7.3-fedora"]
	path = roles/ansible-role-php7.3-fedora
	url = git@github.com:yukihiko-shinoda/ansible-role-php7.3-fedora.git
[submodule "roles/ansible-role-japan-fedora"]
	path = roles/ansible-role-japan-fedora
	url = git@github.com:yukihiko-shinoda/ansible-role-japan-fedora.git
